{% extends 'Base.html' %}
{% load static %}
{% block content%}
<div class="p-3 mb-2 bg-light text-dark"><h1><b>T</b>oy <b>S</b>tore</h1>
    <div class="container-fluid" bgcolor="aqua">
        <h2><i>School Essentials</i></h2> 
        <p><i>Get Unique and Quirky School Essentials at Toy's Store</i></p>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'image/toy13.jpg' %}" class="card-img-top" alt="card1">
                <div class="card-body">
                  <h5 class="card-title">wolpin 1 Pc Lunch Box for Kids Leak Proof Tiffin Box for Boys, Girls, School & Office, Lunch Box for Kids Microwave Safe, Cartoon 800 ML Blue (Food Grade PP Plastic)</h5>
                  <p class="card-text">-60% ₹399<br>
                    M.R.P.: ₹999<br>
                    Inclusive of all taxes</p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
            </div>
            <div class="col"><div class="card" style="width: 18rem;">
              <img src="{% static 'image/toy12.jpg' %}" class="card-img-top" alt="card2">
              <div class="card-body">
                <h5 class="card-title">Frantic Cartoon Plush School Backpack Bag for 2 to 5 Years Baby/Boys/Girls Preschool, Picnic, Nursery</h5>
                <p class="card-text">-56% ₹329<br> M.R.P.: ₹749<br>
                  Inclusive of all taxes</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
            <div class="col"><div class="card" style="width: 18rem;">
              <img src="{% static 'image/toy14.jpg' %}" class="card-img-top" alt="card3">
              <div class="card-body">
                <h5 class="card-title">FunBlast Water Bottle  Kids Cartoon School Water Bottle, 450 ML BPA Free Water Bottle, Cute Animal Design Water Bottle with Straw, Side Handle (Beige, Polycarbonate, Pack of 1)</h5>
                <p class="card-text">-54% ₹460<br>
                  M.R.P.: ₹999<br>
                  Inclusive of all taxes</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          </div>
          </div> 
          <div class="d-flex gap-2 d-md-block">
            <button class="btn btn-primary" type="button">NEXT></button>
          </div>
        
    </div>
  </div>

{% endblock %}  